.tudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
}

.superior {
    padding: 20px;
    margin: 20px;
    margin-top: 80px;
}

.superior header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coluna-esquerda {
    display: flex;
    width: 30%;
    flex-direction: column;

    text-align: start;
    align-items: flex-start;
    gap: 9px;
    border-right: 10x solid #000000;
    padding-right: 20px;
    margin-left: 10px;
}

.coluna-direita {
    width: 65%;;
    padding-left: 20px;
}